{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
    {% for message in messages %} 
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align: center;">
                {{ message }}
        </div>
    {% endfor %} 
    {% endif %}
        <!-- Call to Action-->
        <div class="card text-white bg-secondary py-4 text-center" style='margin-bottom: 3rem !important;'>
            <div class="card-body"><p class="text-white m-0"><h1>Select a Game
            </h1></p></div>
            <form name="form" method="POST" action="">
                {% csrf_token %}
                {% comment %} url 'filter_games' {% endcomment %}
                <div class="container">
                        <p>
                            <label for="team1"><b>Choose a Home Team:</b></label>
                                <select name="team1" id="team1">
                                    <option default></option>
                                    {% for team in team_info %}
                                        <option>
                                            <p>
                                                {{ team.team_name }}
                                            </p>
                                        </option>
                                    {% endfor %}
                                </select>
                        </p>
                    </div>
                    
                    <div class="container">
                        <p>
                            <label for="team2"><b>Choose an Away Team:</b></label>
                            <select name="team2" id="team2">
                                <option default></option>
                                {% for team in team_info %}
                                    <option>
                                        <p>
                                            {{ team.team_name }}
                                        </p>
                                    </option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>

                    <div class="container">
                        <p>
                            <label for="season"><b>Choose a Season:</b></label>
                            <select name="season" id="season">
                                <option default>All</option>
                                {% for year in years %}
                                    <option>
                                        <p>
                                            {{ year }}
                                        </p>
                                    </option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>

                    <br>
                    {% if reset %}
                    <button type='submit' class="btn btn-primary" href="{% url 'games' %}">
                        Reset
                    </button>
                    {% endif %}
                    <button type='submit' class="btn btn-primary" href="">
                        Select
                    </button>
                </form>
            </div>
        </div>
        <!-- Content Row-->
        {% comment %} <div class="card text-white bg-secondary my-5 py-4 text-center"> {% endcomment %}

        {% comment %} <div style ='text-align: center' class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">NFL Games</h2>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p> -->
                    </div>
                    <div class="container text-center"> {% endcomment %}

                    <div class="container">
                        <table id='gamestable' class='table table-hover'>
                            <thead>
                                <tr>
                                    <th scope='col' class='col-md-2'>Home Team</th>
                                    <th scope='col' class='col-md-2'>Away Team</th>
                                    <th scope='col' class='col-md-2'>Result</th>
                                    <th scope='col' class='col-md-2'>Winner</th>
                                    <th scope='col' class='col-md-2'>Location</th>
                                    <th scope='col' class='col-md-2'>Date</th>
                                    <th scope='col' class='col-md-2'>Week</th>
                                    {% comment %} <th scope='col' class='col-md-2'>Postseason?</th> {% endcomment %}
                                    <th scope='col' class='col-md-2'>Team Favorite</th>
                                    {% comment %} <th scope='col' class='col-md-2'>Spread Favorite</th> {% endcomment %}
                                    {% comment %} <th scope='col' class='col-md-2'>Over/Under</th> {% endcomment %}
                                    <th scope='col' class='col-md-2'>Edit</th>
                                    <th scope='col' class='col-md-2'>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% comment %} <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" />
                                <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" /> {% endcomment %}
                                {% for team in teams %}
                                    <tr>
                                        <td class='col-md-2'>
                                            {{ team.team_home }}
                                        </td>
                                        <td class='col-md-2'>
                                            {{ team.team_away }}
                                        </td>
                                        <td class='col-md-2'>
                                            {{ team.score_home }} - {{ team.score_away }}
                                        </td>
                                        <td class='col-md-2'>
                                            {% if team.score_home > team.score_away %}
                                            {{ team.team_home }}
                                            {% elif team.score_home == team.score_away %}
                                            Tie
                                            {% else %}
                                            {{ team.team_away }}
                                            {% endif %}

                                        </td>
                                        {% comment %} <td class='col-md-2'>
                                            {{ team.team_home }}: {{ team.score_home }} <BR> {{ team.team_away }}: {{ team.score_away }}
                                        </td> {% endcomment %}
                                        <td class='col-md-2'>
                                            {{ team.stadium }}
                                        </td>
                                        <td class='col-md-2'>
                                            {{ team.schedule_season }}
                                        </td>
                                        <td class='col-md-2'>
                                            {{ team.schedule_week }}
                                        </td>
                                        {% comment %} <td class='col-md-2'>
                                            {{ team.schedule_playoff }}
                                        </td> {% endcomment %}
                                        <td class='col-md-2'>
                                            {{ team.team_favorite_id }}
                                        </td>
                                        {% comment %} <td class='col-md-2'>
                                            {{ team.spread_favorite }}
                                        </td> {% endcomment %}
                                        {% comment %} <td class='col-md-2'>
                                            {{ team.over_under_line}}
                                        </td> {% endcomment %}
                                        <td>                          
                                            <a class="btn btn-primary" href="{% url 'single_game' game_id=team.id %}">Edit</a>
                                        </td>
                                        <td>
                                            <a class='btn btn-danger' href="{% url 'delete_game' game_id=team.id %}">
                                                <i>Delete</i>
                                            </a>                                                
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>

                    {% comment %} <div>
                        {% for team in teams %}
                        <p>
                            <h4>FINAL SCORE:</h4><br> 
                            The {{ team.team_home }}: {{ team.score_home }} &nbsp&nbsp  -  &nbsp&nbsp The {{ team.team_away }}: {{ team.score_away }} <br><br><br>

                            <h5>Other Stats:</h5>
                            Location: {{ team.stadium }}<br>
                            Week of the Season: {{ team.schedule_week }}<br>
                            Was it a postseason game? {{ team.schedule_playoff }}<br><br>

                            <h5>Betting Data:</h5>
                            Team Favorite: {{ team.team_favorite_id }}<br>
                            Spread Favorite: {{ team.spread_favorite }}<br>
                            Over/Under: {{ team.over_under_line}}

                        </p>
                        {% endfor %}
                    </div> {% endcomment %}

                    <!-- <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div> -->
                {% comment %} </div>
            </div> {% endcomment %}
            <!-- <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div> -->
            <!-- <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div> -->
        </div>
    </div>
{%  endblock %}