{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            {% comment %} <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/42096.jpg' %}" width="600" height="600" alt="" /></div> {% endcomment %}

            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/superbowl_lvii.jpeg' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Super Bowl LVII</h1>
                <p>Super Bowl LVII is scheduled for Sunday, Februray 12 2023! Check out our website to learn more about contendors and vote for who you think will win!</p>
                <a class="btn btn-primary" href="{% url 'teams' %}">Vote now!</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">The current vote leader is the {{ teamName }} with {{ teamVotes }} votes.</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5" style="
        margin-right: 20px;
        margin-left: 20px;">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Super Bowl History</h2>
                        <p class="card-text">See the 50+ year history of the Super Bowl.</p>
                    </div>
                    <center>
                    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/superbowl1.jpeg' %}" alt="..." /></div>
                    <br>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.history.com/topics/sports/super-bowl-history">More Info</a></div>
                    </center>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">View Games</h2>
                        <p class="card-text">See a history of games by year and other cool stats!</p>
                    </div>
                    <center>
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/nfl.jpeg' %}" alt="..." /></div>
                        <br>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'games' %}">Games</a></div>
                    </center>
                    
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Simulate a Game</h2>
                        <p class="card-text">Run your own simulated game between two teams!</p>
                    </div>
                    <center>
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/steveyoung.jpeg' %}" alt="..." /></div>
                        <br>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'simulationSelect' %}">Simulation</a></div>
                    </center>
                    
                </div>
            </div>
            
        </div>
    </div>
{%  endblock %}