{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %} 
            <div class="alert alert-warning alert-dismissible fade show" style="text-align: center;" role="alert">
                    {{ message }}
            </div>
        {% endfor %} 
    {% endif %}
    <div class="card-body" style ='text-align: center'>
        <h2 class="card-title">Super Bowl Voting</h2>
        <p class="card-text">
            Vote for whichever team you think will win Super Bowl LVII!
            <!-- <br>
            The current vote leader is the {{ teamName }} with {{ teamVotes }} votes. -->
        </p>
        <h4 class="card-text">The current vote leader is the {{ teamName }} with {{ teamVotes }} votes.</h4>
    </div>
        <!-- Call to Action-->
        {% comment %} <div class="card text-white bg-secondary my-5 py-4 text-center"> {% endcomment %}
            {% comment %} <div class="card-body"><p class="text-white m-0">{{ nfl_team.team_name }}</p></div> {% endcomment %}
            <div class="container text-center">
                {% comment %} {% for team in teams %}
                    <p>
                        <span class="float-left">{{ team.team_name }}</span>
                        <span class="">{{ team.votes }}</span>
                        <a class="btn btn-primary float-right" href="{% url 'voting' team_id=team.id %}">Vote</a>
                    </p>
                    {% endfor %} {% endcomment %}
                    
                <table id='votestable' class='table table-hover'>
                    <thead>
                        <tr>
                            <th scope='col' class='col-md-2'>Team Name</th>
                            <th scope='col' class='col-md-2'>Votes</th>
                            <th scope='col' class='col-md-2'>Add Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% comment %} <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" />
                        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" /> {% endcomment %}
                        {% for team in teams %}
                        <tr>
                            <td class='col-md-2'>{{ team.team_name }}</td>
                            <td class='col-md-2'>{{ team.votes }}</td>
                            <td>                          
                                <a class="col-md-2 btn btn-primary" href="{% url 'voting' id=team.id %}">Vote</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% comment %} </div> {% endcomment %}
        <!-- Content Row-->
        {% comment %} <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card One</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div> {% endcomment %}
{%  endblock %}